.Hero{
display: flex;
/* justify-content: space-around; */
/* justify-content: space-between; */
/* justify-content: space-evenly; */
/* flex-wrap: wrap;
justify-content: space-between; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
}

.Hero>div{
   border: 1px solid red;
}

.div1{
    /* flex: 2; */
    order: 3;
    width: 300px;
}
.div2{
    /* flex: 2; */
    order: 2;
    width: 300px;
}
.div3{
    /* flex: 3; */
    order: 1;
    width: 300px;

}
