* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Section1 {
    background-image: url(./assest/img/Rectangle\ 96.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding: 0px 150px;
}

.navbar {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.nav-logo>h2 {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}


.nav-item>a {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px 10px;
    cursor: pointer;
}

.nav-item>img {
    margin: 0px 10px;
}

.navbar-btn>button {
    background: #00D664;
    border-radius: 27.5px;
    width: 155px;
    height: 51px;
    border: none;
    color: white;
    cursor: pointer;
}
/* Text */

.Section1-TextCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;

}
.Box-Center{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.section1-textAriel {
    font-family: 'Mrs Saint Delafield';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 17px;
    color: #FFFFFF;
}

.section1-CentertextP {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section1-Centertext2P {
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section1-centerBtn>button {

    background: #00D664;
    border-radius: 30px;
    width: 216px;
    height: 55px;
    border: none;
    color: white;
}