* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Container {
    height: 100vh;
    display: flex;
    background: red;
    gap: 10px;
    margin: 0 auto;
    /* justify-content: center;  */
    /* align-items: center; */
    /* flex-direction: column; */
}
.box1{
    width: 250px;
    height: 250px;
    background: yellow;
    /* align-self: stretch ; */
    flex-shrink: 0;
}

.box2 {
    width: 250px;
    height: 250px;
    background: rgb(98, 255, 0);
}
.box3 {
    width: 250px;
    height: 250px;
    background: rgb(0, 21, 255);
}
.box4 {
    width: 250px;
    height: 250px;
    background: rgb(0, 255, 38);
}
.box5 {
    width: 250px;
    height: 250px;
    background: rgb(251, 0, 255);
}



/* .navbar1 {
    height: 60px;
    background-color: rgba(0, 0, 255, 0.778);
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 700px;

}

.navbar1>a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    margin-left: 10px;
}

.navbar2 {
    width: 700px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.778);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar2>a {
    text-decoration: none;
    font-size: 23px;
    color: white;
}

.navbar3 {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.778);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.navbar3>a{
    font-size: 23px;
    color: white;
    text-decoration: none;
}

.navbar4 {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.778);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.navbar4>a {
    font-size: 23px;
    color: white;
    text-decoration: none;
}

.navbar5 {
    width: 700px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.778);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
    gap: 10px;
}

.navbar5>a {
    font-size: 23px;
    color: white;
    text-decoration: none;
} */