*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.navbar1 {
    background-color: blue;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.navbar1>a{
    margin-left: 15px;
    font-size: 30px;
    display: flex;

    
}
    
