* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background: rgb(39, 62, 102);
}

.conatiner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    border: 1px solid red;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 80px;
    border: 1px solid red;
    background: rgba(68, 76, 133, 0.735);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.nav-item {
    display: flex;
    gap: 40px;
}

.nav-item>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo>img{
    border-radius: 50%;
}
.nav-logo>p{
    color: white;
}
.nav-logo>i{
    color: white;
    cursor: pointer;
}

.item-set>i {
    color: rgba(150, 149, 149, 0.602);
    cursor: pointer;
}

.item-set>p {
    color: white;
    cursor: pointer;
}

.item-message{
    width: 20px;
    height: 20px;
    background: red; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: absolute;
     top: 65px;
     left: 390px;

}
.item-message>p{
    color: white;
    
}