* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background: rgb(6, 132, 6);
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 100px;
}
.nav-item{
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: yellow;
    position: relative;
}

a::before{
    content: "";
    width: 110%;
    height: 2px;
    position: absolute;
    top: 32px;
    left: -4px;
    background: white;
    transform: scale(0);
    transition:transform 0.7s ease ;
    transform-origin: right;
}

a:hover::before{
    transform: scale(1);
    border-radius: 10px;
    transform-origin: left;
}