* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: rgb(31, 150, 31);
}

.navabar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    position: relative;
}

a:hover {
    color: white;
}

a::after {
    content: '';
    color: white;
    position: absolute;
    width: 115%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: -5px;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 1s ease-out;
    transform-origin: right;
}

a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 40px;
    color: yellow;
}

p::before {
    content: '-';
    transform: scale(0);
    display: none;
    cursor: pointer;
    transition: transform 1s ease-in;
}

p:hover::before {
    transform: scale(1);
    display: inline;
    margin-left: 20px;
    color: rebeccapurple;
}

p:hover {
    color: rebeccapurple;
}

::selection{
    /* background: yellow;
    color: rgb(22, 22, 22); */
}