*{padding: 0px;
margin: 0px;
}


.nav1{
    background: black;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;


}

.logo>h1 {
    color:white;
}
.nav-item>a {
    text-decoration: none;
    color:white;
    margin: 0px 20px;

}
.btn>button {
    width: 120px;
    height: 35px;
    color: white;
    background:aqua;
    border: none;
    border-radius: 100px;
}
.navbar2{
    display:flex;
    align-items: center;

  background: black;height: 100px;
    justify-content: space-between;
    


       
    
















}



