* {
    padding: 0px;
    margin: 0px;
}

.Container {
    background: rgb(255, 0, 0);
    height: 100vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    /* justify-content: space-around;
    justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* flex-direction: column-reverse; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.box-1 {
    width: 300px;
    /* height: 200px; */
    background: yellow;
    border: 5px solid black;
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-basis: 200px; */
    /* align-self: stretch; */
    height: 200px;
    
}

.box-2 {
    background: rgb(0, 255, 145);
    border: 5px solid black;
    /* order: 2; */
    /* flex-grow: 5; */
    /* align-self: stretch; */
    /* height: 200px; */
    /* flex-shrink: 0; */
    /* flex: 1  400px; */
    /* align-self: center; */
    height: 200px;
    /* flex-shrink: 0; */
    /* flex-basis: 500px; */
    width: 300px;
}

.box-3 {
        /* width: 300px; */
    background: rgb(0, 76, 255);
    border: 5px solid black;
    /* order: 1; */
    /* flex-grow: 1; */
    /* flex-basis: 200px; */
    /* align-self: stretch; */
    height: 200px;
    /* flex: 5 ; */


}

.Container {
    background: rgb(255, 0, 0);
    height: 100vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    /* flex-direction: column-reverse; */
    /* align-items: center; */
}
