* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(./making-a-budget-tracking-finances.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbarBox {
    background: black;
    height: 100px;
    padding-top: 50px;
}

.nav-logo {
    display: inline;
    color: white;
    font-weight: 800;
    margin-left: 100px;
}

.nav-item {
    margin-left: 300px;
}


a {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
}

.btn {
    background: #42d1f5;
    height: 25px;
    color: white;
    width: 90px;
   border: none;
   border-radius: 100px;
   margin-left: 300px;

}