* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 130vh;
    background: rgb(70, 191, 9);
}

.box {
    width: 600px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0px 20px;
}

p {
    font-size: 30px;
}

.oneIn {
    width: 540px;
    height: 40px;
}

select {
    width: 540px;
    height: 40px;
}
.radio{
    width: 40px;
    height: 40px;
}
span{
    font-size: 30px;
}
button{
   background: rgb(50, 171, 50);
   width: 540px;
   height: 40px;
   border: none;
   border-radius: 20px;
   margin-top: 20px;

}