/* p{
    position: relative;
}

p:hover:after{
 content: '';
 color: red;
 position: absolute;
  width: 70px;
  height: 5px;
  background: red;
  top: 20px;
  left: 0px;
  border-radius: 10px;
  
} */
::selection{
    background: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
}

/* p::first-letter{
    color: red;
    font-size: 32px;

} */
p::first-line{
    color: red;
    background: yellow;
    font-size: 35px;
}